<!DOCTYPE html>
<html>
<head>
    <title>My Blog App</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

<h1>DaBlog</h1>
<button onclick="showCreateForm()">Create Blog</button>

<section class="form" id="createBlogForm" style="display:none;">
    <div id="createForm" style="display:none;">

    <input id="title" placeholder="Title">
    <input id="author" placeholder="Author">
    <input id="category" placeholder="Category">

    <textarea id="content" placeholder="Content"></textarea>

    <input id="tags" placeholder="Tags separated by comma">

    <select id="status">
        <option value="draft">Draft</option>
        <option value="published">Published</option>
    </select>
    <input id="views" placeholder="Views">

    <button onclick="createBlog()">Create</button>
</div>
</section>

<section>
<h2 id="editBlog" style="display:none;">Edit Blog</h2>

<div id="editForm" style="display:none;">

    <input type="hidden" id="editId">

    <input type="text" id="editTitle" placeholder="Title">

    <textarea id="editContent" placeholder="Content"></textarea>

    <input type="text" id="editAuthor" placeholder="Author">

    <input type="text" id="editCategory" placeholder="Category">

    <input type="text" id="editTags" placeholder="Tags">

    <select id="editStatus">
        <option value="draft">Draft</option>
        <option value="published">Published</option>
    </select>

    <input type="number" id="editViews" placeholder="Views">

    <button onclick="updateBlog()">Save Changes</button>
    <p id="editMessage"></p>

</div>



</section>


<h2>All Blogs</h2>

<div id="blogs"></div>

<button onclick="previousPage()">Previous</button>
<button onclick="nextPage()">Next</button>


<script src="script.js"></script>

</body>
</html>